body, html {
 background-color: #eee;
  margin: 0;padding:0;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 


body{
  background: #eee;
  font-family: 'Nunito SemiBold';
} */

#main h1{
  color: #444;
  text-align: center;
}

#main{
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

 #cuisine-list  {
  padding: 0;
}

#recipe-list  {
  font-size: 25px;
  padding: 10px;
  margin:20px;
  width:380px;
  float: right;
}

#cuisine-list li, #recipe-list , form#edit-recipe select , button.submit-edit  {
  display: inline-block;
  margin: 12px;
  
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880E4F;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  color: #880E4F;
}
 
form{
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
  width: 95%;
}

form .field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}


form input, form select{
  margin: 4px 0;
  padding: 6px;
  box-sizing: border-box;
}

form button{
  color: #fff;
  font-size: 2em;
  background: #AD1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

  button.cancel{
   font-size: 40px;
  left: auto;
  right: 10px;
}
#cuisine-details  {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #AD1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: #fff;
}
#add-cuisine-update , #cuisine-delete {
  right: 0;
  left: auto;
}
.recipes-container {
  margin: 5px;
  border-radius: 8px;
  color:white;
  text-shadow: #AD1457 2px 2px 4px;
  font-size: 3em;
  background: linear-gradient(#AD1457 , #ffff);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  border: 0;
  min-height: 230px;
  padding: 0 10px;
  
  
}
#cuisine-list li:hover , button.submit-edit:hover {
background-color: #AD1457;
color:white;



}
#cuisine-list li:active , button.submit-edit:active{
  background-color:#880E4F;
  transform: scale(0.95);
  transform: translateY(1px);
  color:white
  }

  #recipe-list option  {
  font-size: 0.7em;
  /* color:white; */
  /* width: 400px; */
  /* color: #AD1457;
  
  background-color:white */
  }

  form#edit-recipe {
    position: relative;
  }
  button.submit-edit {
    position: relative;
    background-color:white ;
    font-size: 12px;
    bottom: 0;
  }
  fieldset  {
    border: none;
  }

  .recipes-container  p {

    font-size: 0.7em;
  }

  .recipes-container  h4 {

    font-size: 0.9em;
  }

  select#recipe-list:hover , fieldset select:hover {
   
background-color: #fff7fb;
 
 
  }
 
  .spinner {
    width: 40px;
    height: 40px;
  
    position: relative;
    /* margin: 100px auto; */
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(51, 149, 241);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

  h4 {
     margin-left: 4px;
  }
 
  form label{
    font-size: 0.3em;
    /* color:black; */
    color:white;
    text-align: right;
  }
  